<section class="h-screen flex">
	<h2 class="">{{ module.title }}</h2>
	<div class="texl-xl bg bg-blue-300">
		I'm a column in the Example Block
	</div>
	<div class="text-xl bg-green-300">
		I'm also a column in the Example Block
	</div>
</section> <!-- End Example Block -->
